.App{
  margin: 20px 400px;
}

.App-logo {
  height: 70px;
  width: 200px;
  pointer-events: none;
}

.button{
  background-color: #270059;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 16px;
  margin-left: 300px;
  position: relative;
  bottom: 30px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 50s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.users{
  margin-bottom: 20px;
  display: flex;
  width: 350px;
}

.users img{
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: #270059 solid 5px;
}

.users h2{
  margin-bottom: 0px;
  color: #270059;
}

.users p{
  margin: 5px 0px;
}

.profiles{
  display: flex;
  flex-wrap: wrap;
}

.menu{
  margin-bottom: 40px;
}